@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

* {
  padding: 0px;
  margin: 0px;
}

html,
body {
  font-size: 62.5%;
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  color: #1b1b1b;
  height: 100%;
}

input,
button,
textarea,
select {
  font-family: "Lato", sans-serif;
}

body {
  &::-webkit-scrollbar {
    display: none;
  }
}

a {
  text-decoration: none;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

@media screen and (max-width: 1200px) and (min-width: 800px) {
  html,
  body {
    font-size: 80%;
  }
}

@media screen and (max-width: 800px) {
  html,
  body {
    font-size: 60%;
  }
}
